RepairAppClient/Connected Services/ProduktService/ProduktService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IProductService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IProductService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProdukter1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produkter1" nillable="true" type="tns:Produkter1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdukter1" nillable="true" type="tns:ArrayOfProdukter1" />
  <xs:complexType name="Produkter1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Modell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Märke" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serienummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Årsmodell" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produkter1" nillable="true" type="tns:Produkter1" />
</xs:schema>