RepairAppClient/Connected Services/ProduktService/ProduktService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProduktService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2199/ProduktService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2199/ProduktService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2199/ProduktService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IProductService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduktService_VisaAllaProdukter_InputMessage">
    <wsdl:part name="parameters" element="tns:VisaAllaProdukter" />
  </wsdl:message>
  <wsdl:message name="IProduktService_VisaAllaProdukter_OutputMessage">
    <wsdl:part name="parameters" element="tns:VisaAllaProdukterResponse" />
  </wsdl:message>
  <wsdl:message name="IProduktService_VisaProdukt_InputMessage">
    <wsdl:part name="parameters" element="tns:VisaProdukt" />
  </wsdl:message>
  <wsdl:message name="IProduktService_VisaProdukt_OutputMessage">
    <wsdl:part name="parameters" element="tns:VisaProduktResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduktService">
    <wsdl:operation name="VisaAllaProdukter">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduktService/VisaAllaProdukter" message="tns:IProduktService_VisaAllaProdukter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduktService/VisaAllaProdukterResponse" message="tns:IProduktService_VisaAllaProdukter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VisaProdukt">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduktService/VisaProdukt" message="tns:IProduktService_VisaProdukt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduktService/VisaProduktResponse" message="tns:IProduktService_VisaProdukt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProduktService" type="tns:IProduktService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VisaAllaProdukter">
      <soap:operation soapAction="http://tempuri.org/IProduktService/VisaAllaProdukter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VisaProdukt">
      <soap:operation soapAction="http://tempuri.org/IProduktService/VisaProdukt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProduktService">
    <wsdl:port name="BasicHttpBinding_IProduktService" binding="tns:BasicHttpBinding_IProduktService">
      <soap:address location="http://localhost:2199/ProduktService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>