RepairAppClient/Connected Services/CaseService/CaseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CaseService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CaseService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53880/CaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDto" nillable="true" type="tns:CustomerDto" />
  <xs:complexType name="ArrayOfCustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDto" nillable="true" type="tns:CustomerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDto" nillable="true" type="tns:ArrayOfCustomerDto" />
  <xs:complexType name="ArrayOfStatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusDto" nillable="true" type="tns:StatusDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusDto" nillable="true" type="tns:ArrayOfStatusDto" />
  <xs:complexType name="StatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusDto" nillable="true" type="tns:StatusDto" />
  <xs:complexType name="ArrayOfCaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseDto" nillable="true" type="tns:CaseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseDto" nillable="true" type="tns:ArrayOfCaseDto" />
  <xs:complexType name="CaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerDto" nillable="true" type="tns:CustomerDto" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedDeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="QuoteDtos" nillable="true" type="tns:ArrayOfQuoteDto" />
      <xs:element minOccurs="0" name="StatusDto" nillable="true" type="tns:StatusDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseDto" nillable="true" type="tns:CaseDto" />
  <xs:complexType name="ArrayOfQuoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteDto" nillable="true" type="tns:QuoteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuoteDto" nillable="true" type="tns:ArrayOfQuoteDto" />
  <xs:complexType name="QuoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Answered" type="xs:boolean" />
      <xs:element minOccurs="0" name="CaseId" type="xs:int" />
      <xs:element minOccurs="0" name="Cost" type="xs:double" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Measure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteDto" nillable="true" type="tns:QuoteDto" />
</xs:schema>