RepairAppClient/Connected Services/CaseService/CaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53880/CaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53880/CaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53880/CaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CaseService.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICaseService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICaseService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICaseService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_EditCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomer" />
  </wsdl:message>
  <wsdl:message name="ICaseService_EditCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetStatusList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusList" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetStatusList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCases" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCasesResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_CreateCase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCase" />
  </wsdl:message>
  <wsdl:message name="ICaseService_CreateCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseByGuid" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCaseByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCase" />
  </wsdl:message>
  <wsdl:message name="ICaseService_GetCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_DeleteCase_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCase" />
  </wsdl:message>
  <wsdl:message name="ICaseService_DeleteCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuote" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AddQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AnswerQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerQuote" />
  </wsdl:message>
  <wsdl:message name="ICaseService_AnswerQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_DeleteQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuote" />
  </wsdl:message>
  <wsdl:message name="ICaseService_DeleteQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ICaseService_EditCase_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCase" />
  </wsdl:message>
  <wsdl:message name="ICaseService_EditCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCaseResponse" />
  </wsdl:message>
  <wsdl:portType name="ICaseService">
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCustomer" message="tns:ICaseService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCustomerResponse" message="tns:ICaseService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCustomers" message="tns:ICaseService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCustomersResponse" message="tns:ICaseService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/DeleteCustomer" message="tns:ICaseService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/DeleteCustomerResponse" message="tns:ICaseService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/CreateCustomer" message="tns:ICaseService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/CreateCustomerResponse" message="tns:ICaseService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/EditCustomer" message="tns:ICaseService_EditCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/EditCustomerResponse" message="tns:ICaseService_EditCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetStatusList" message="tns:ICaseService_GetStatusList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetStatusListResponse" message="tns:ICaseService_GetStatusList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCases">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCases" message="tns:ICaseService_GetCases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCasesResponse" message="tns:ICaseService_GetCases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/CreateCase" message="tns:ICaseService_CreateCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/CreateCaseResponse" message="tns:ICaseService_CreateCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCaseByGuid" message="tns:ICaseService_GetCaseByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseByGuidResponse" message="tns:ICaseService_GetCaseByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/GetCase" message="tns:ICaseService_GetCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/GetCaseResponse" message="tns:ICaseService_GetCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/DeleteCase" message="tns:ICaseService_DeleteCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/DeleteCaseResponse" message="tns:ICaseService_DeleteCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AddQuote" message="tns:ICaseService_AddQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AddQuoteResponse" message="tns:ICaseService_AddQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/AnswerQuote" message="tns:ICaseService_AnswerQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/AnswerQuoteResponse" message="tns:ICaseService_AnswerQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/DeleteQuote" message="tns:ICaseService_DeleteQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/DeleteQuoteResponse" message="tns:ICaseService_DeleteQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICaseService/EditCase" message="tns:ICaseService_EditCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICaseService/EditCaseResponse" message="tns:ICaseService_EditCase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICaseService" type="tns:ICaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/ICaseService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICaseService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <soap:operation soapAction="http://tempuri.org/ICaseService/EditCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusList">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCases">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCase">
      <soap:operation soapAction="http://tempuri.org/ICaseService/CreateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseByGuid">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCaseByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCase">
      <soap:operation soapAction="http://tempuri.org/ICaseService/GetCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCase">
      <soap:operation soapAction="http://tempuri.org/ICaseService/DeleteCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQuote">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AddQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerQuote">
      <soap:operation soapAction="http://tempuri.org/ICaseService/AnswerQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuote">
      <soap:operation soapAction="http://tempuri.org/ICaseService/DeleteQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCase">
      <soap:operation soapAction="http://tempuri.org/ICaseService/EditCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaseService">
    <wsdl:port name="BasicHttpBinding_ICaseService" binding="tns:BasicHttpBinding_ICaseService">
      <soap:address location="http://localhost:53880/CaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>